* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/*Main page styles*/
.mainContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mainContainer h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.mainContainer p {
    margin-left: 2rem;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 9px;
}

.mainContainer ul {
    padding: 0;
    margin: 20px 0;
    margin-left: 3.2rem;
}


.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttonsContainer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttonsContainer button:hover {
    background-color: #0056b3;
}


/*Register Form Styles*/

.register-form {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="tel"],
.register-form select,
.register-form input[type="date"],
.register-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Search Form Styles */

#searchForm,
.searchForm {
    display: flex;
    align-items: center;
}

#searchForm select,
#searchForm input[type="text"],
#searchForm button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: auto;
}

#searchForm select,
#searchForm input[type="text"] {
    width: 36%;
}

#searchForm button {
    width: 20%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#searchForm button:hover {
    background-color: #0056b3;
}